.button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: transparent;
	border: none;
	padding: 0;
	box-sizing: border-box;

	& > .icon {
		width: 24px;
		height: 24px;
		margin-right: 8px;
	}

	& > .main {
		& > span {
			font-size: 16px;
			font-weight: 500;
			line-height: 1.5;
			color: var('--darkBlack');
		}
	}
}
