/* stylelint-disable no-descending-specificity */
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	cursor: pointer;
	background-color: transparent;
	padding: 0;
	border: none;
	transition: opacity 0.3s ease;

	& > .main {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex: 1;
		flex-shrink: 0;
		padding: 0 22.5px;
		border-radius: 2px;
		border-top: 1px solid var(--main);
		border-bottom: 1px solid var(--main);
		background-color: var(--main);
		color: white;
		transition: all 0.3s ease;

		& > span {
			font-size: 16px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.5;
			letter-spacing: normal;
			text-align: center;
		}
	}

	&.normal {
		& > .main {
			height: 40px;
		}
	}

	&.outline {
		& > .main {
			border-radius: 0;
			background-color: transparent;
			color: var(--main);
		}
	}

	&.link {
		& > .main {
			border-radius: 0;
			border: none;
			padding: 0;
			height: auto;
			background-color: transparent;
			color: var(--main);
		}
	}

	&.white {
		& > .main {
			border-top: 1px solid white;
			border-bottom: 1px solid white;
			background-color: white;
			color: var(--main);
		}

		&.link {
			& > .main {
				border: none;
				background-color: transparent;
				color: white;
			}
		}
	}

	&.disabled {
		cursor: not-allowed;

		& > .main {
			border-top: 1px solid var(--lightMain);
			border-bottom: 1px solid var(--lightMain);
			background-color: var(--lightMain);
		}

		&.link {
			& > .main {
				border: none;
				background-color: transparent;
				color: var(--lightMain);
			}
		}
	}

	&:hover {
		& > .main {
			border-top: 1px solid var(--darkMain);
			border-bottom: 1px solid var(--darkMain);
			background-color: var(--darkMain);
		}

		&.outline {
			& > .main {
				color: var(--darkMain);
				background-color: transparent;
			}
		}

		&.link {
			& > .main {
				color: var(--darkMain);
				background-color: transparent;
				border: none;
			}
		}

		&.white {
			& > .main {
				border-top: 1px solid white;
				border-bottom: 1px solid white;
				background-color: white;
				color: var(--main);
			}

			& > .feather-icon {
				& > svg g {
					fill: white;

					& path {
						stroke: white;
					}
				}

				&.outline {
					& > svg g {
						& path {
							stroke: white;
						}
					}
				}
			}

			&.link {
				& > .main {
					border: none;
					background-color: transparent;
					color: white;
				}
			}
		}

		&.disabled {
			& > .main {
				border-top: 1px solid var(--lightMain);
				border-bottom: 1px solid var(--lightMain);
				background-color: var(--lightMain);
			}

			&.link {
				& > .main {
					color: var(--lightMain);
				}
			}
		}
	}
}

/* stylelint-enable no-descending-specificity */
