.sheet-detail {
	position: relative;

	& .results {
		display: none;
	}

	& .re-upload {
		padding: 15px 30px;
		box-sizing: border-box;
		border-radius: 8px;
		border: 1px solid var(--main);
		background-color: transparent;
		font-size: 14px;
		text-align: center;
		color: var(--main);
		cursor: pointer;

		& > label {
			font-weight: 600;
		}

		& > input {
			display: none;
		}
	}
}
